<h1>Comments#index</h1>

<p><%= link_to "New Comment", [:new, @commentable, :comment] %></p>
<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment">
      <%= simple_format comment.content %>
    </div>
  <% end %>
</div>

