<h1>Comments#new</h1>
<%= simple_form_for [@commentable, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div class="error_messages">
      <h2>error</h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.input :content %>
    <%= f.button :submit , :class => "btn btn-success" %>
  </div>
<% end %>
