<% posts.each do |post| %>
  <div class="event-box">
    <%= render partial: '/posts/eventAttached' , locals: { :post => post } %>
        
    <%= render partial: '/posts/eventPhoto' ,locals: { :post => post , :photo_class_name => "event-photo"}  %>

    <%= render partial: '/posts/eventText' , locals: { :post => post } %>
  
  </div>
<% end%>
