<% @posts.each do |post| %>
  <div class="event-box">
    <%= render '/posts/eventAttached' , :post => post %>
        
    <%= render '/posts/eventPhoto' , :post => post , :photo_class_name => "event-photo" %>

    <%= render '/posts/eventText' , :post => post %>
  
  </div>
<% end%>
