<div class="post-box">

  <div class="post-attached">
    留言數{{post_comment_count}} | 
    <img alt="Thumbs up" class="thumb_up" src="/assets/thumbs_up.png" />
    <span data-id="like_count_{{data_id}}">{{like_count}}</span>

    <a data-id="like_text_{{data_id}}" data-method="{{like_method}}" data-remote="true" href="{{like_url}}" rel="nofollow">{{like_text}}</a>
  </div>
 
  <a href="{{post_url}}">
    <img class="post-photo" src="{{post_photo}}"/>
  </a>

  <div class="post-text">
    <img class="post-author-photo" src="{{author_image}}" />
    <a href="{{author_url}}">{{author_name}}</a> 
    |
    <a href="{{post_url}}">{{post_title}}</a>
  </div>  

</div>
