<% posts.each do |post| %>
  <% cache post do %>
    <div class="post-box">
      <%= render partial: 'postAttached' , locals: { :post => post } %>

      <%= render partial: 'postPhoto' ,locals: { :post => post , :photo_class_name => "post-photo"}  %>

      <%= render partial: 'postText' , locals: { :post => post } %>

    </div>
  <% end %>
<% end %>
