<form class="show-post-well">
  <fieldset>
    <h4><div class="show-post-title"><%= post.title %></div></h4>
    <%= render 'posts/postPhoto' , :mustache => json_for(post)  %>
    <hr>
    <label><%= raw(post.content) %></label>
  </fieldset>
</form>
