<div class='row' id="posts" data-json-url="<%= posts_url(:format => :json) %>">
  <%= render partial: 'postsList' , locals: { posts: @posts}  %> 
</div>

<script type="text/html" id="post_template">
  <%= render 'post' %>
</script>
