.post-box {
  float: left;
  width: 30%;
  padding: 5px 0 0 0;
  margin: 7px 34px 7px 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  overflow: hidden;

  .post-text{
        position:relative;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        color: #FFFFFF;
  }
  .post-author-photo{
      width: 30px;
      height: 30px;
  }

}   

.post-attached{
    width: 100%;
    padding-left: 10px;
    .thumb_up{
        width: 20px;
        height: 20px;
  }
} 

